* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Arial, sans-serif;

  color: #e5e7eb;
  background: #0b1120;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: #0b1120;
  color: #e5e7eb;
}

button,
input {
  font: inherit;
}

button {
  border: none;
}

a {
  color: inherit;
}